Vehicle_SOC_project/data/Overview.xlsx
Vehicle_SOC_project/data/Trips/TripA01.csv
Vehicle_SOC_project/data/Trips/TripA02.csv
Vehicle_SOC_project/data/Trips/TripA03.csv
Vehicle_SOC_project/data/Trips/TripA04.csv
Vehicle_SOC_project/data/Trips/TripA05.csv
Vehicle_SOC_project/data/Trips/TripA06.csv
Vehicle_SOC_project/data/Trips/TripA07.csv
Vehicle_SOC_project/data/Trips/TripA08.csv
Vehicle_SOC_project/data/Trips/TripA09.csv
Vehicle_SOC_project/data/Trips/TripA10.csv
Vehicle_SOC_project/data/Trips/TripA11.csv
Vehicle_SOC_project/data/Trips/TripA12.csv
Vehicle_SOC_project/data/Trips/TripA13.csv
Vehicle_SOC_project/data/Trips/TripA14.csv
Vehicle_SOC_project/data/Trips/TripA15.csv
Vehicle_SOC_project/data/Trips/TripA16.csv
Vehicle_SOC_project/data/Trips/TripA17.csv
Vehicle_SOC_project/data/Trips/TripA18.csv
Vehicle_SOC_project/data/Trips/TripA19.csv
Vehicle_SOC_project/data/Trips/TripA20.csv
Vehicle_SOC_project/data/Trips/TripA21.csv
Vehicle_SOC_project/data/Trips/TripA22.csv
Vehicle_SOC_project/data/Trips/TripA23.csv
Vehicle_SOC_project/data/Trips/TripA24.csv
Vehicle_SOC_project/data/Trips/TripA25.csv
Vehicle_SOC_project/data/Trips/TripA26.csv
Vehicle_SOC_project/data/Trips/TripA27.csv
Vehicle_SOC_project/data/Trips/TripA28.csv
Vehicle_SOC_project/data/Trips/TripA29.csv
Vehicle_SOC_project/data/Trips/TripA30.csv
Vehicle_SOC_project/data/Trips/TripA31.csv
Vehicle_SOC_project/data/Trips/TripA32.csv
Vehicle_SOC_project/data/Trips/TripB01.csv
Vehicle_SOC_project/data/Trips/TripB02.csv
Vehicle_SOC_project/data/Trips/TripB03.csv
Vehicle_SOC_project/data/Trips/TripB04.csv
Vehicle_SOC_project/data/Trips/TripB05.csv
Vehicle_SOC_project/data/Trips/TripB06.csv
Vehicle_SOC_project/data/Trips/TripB07.csv
Vehicle_SOC_project/data/Trips/TripB08.csv
Vehicle_SOC_project/data/Trips/TripB09.csv
Vehicle_SOC_project/data/Trips/TripB10.csv
Vehicle_SOC_project/data/Trips/TripB11.csv
Vehicle_SOC_project/data/Trips/TripB12.csv
Vehicle_SOC_project/data/Trips/TripB13.csv
Vehicle_SOC_project/data/Trips/TripB14.csv
Vehicle_SOC_project/data/Trips/TripB15.csv
Vehicle_SOC_project/data/Trips/TripB16.csv
Vehicle_SOC_project/data/Trips/TripB17.csv
Vehicle_SOC_project/data/Trips/TripB18.csv
Vehicle_SOC_project/data/Trips/TripB19.csv
Vehicle_SOC_project/data/Trips/TripB20.csv
Vehicle_SOC_project/data/Trips/TripB21.csv
Vehicle_SOC_project/data/Trips/TripB22.csv
Vehicle_SOC_project/data/Trips/TripB23.csv
Vehicle_SOC_project/data/Trips/TripB24.csv
Vehicle_SOC_project/data/Trips/TripB25.csv
Vehicle_SOC_project/data/Trips/TripB26.csv
Vehicle_SOC_project/data/Trips/TripB27.csv
Vehicle_SOC_project/data/Trips/TripB28.csv
Vehicle_SOC_project/data/Trips/TripB29.csv
Vehicle_SOC_project/data/Trips/TripB30.csv
Vehicle_SOC_project/data/Trips/TripB31.csv
Vehicle_SOC_project/data/Trips/TripB32.csv
Vehicle_SOC_project/data/Trips/TripB33.csv
Vehicle_SOC_project/data/Trips/TripB34.csv
Vehicle_SOC_project/data/Trips/TripB35.csv
Vehicle_SOC_project/data/Trips/TripB36.csv
Vehicle_SOC_project/data/Trips/TripB37.csv
Vehicle_SOC_project/data/Trips/TripB38.csv
Vehicle_SOC_project/data/df_all.pkl
